node_modules
dist
dist-ssr

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
tmp
.*
# custom folders / files
src/fakeData/json_data/*_private.json
playwright-profile

# do not ignore rules
!.vscode/extensions.json
!.env.example